:root {
    --accent-color: #35c4af;
}

html { height: 100%; }

body {
    margin: 10px;
    font-family: sans-serif;
    line-height: 1.5;
}

.centered {
    text-align: center;
}

a {
    color: #35c4af;
    font-family: monospace;
    padding: 2px;
    border-radius: 4px;
    border: 1px solid;
}

a:hover {
    color: white;
    background-color: var(--accent-color);
}